<ion-header class="ion-no-border">
  <ion-toolbar>
<!--    <ion-title>login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="assets/images/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <ion-img src="assets/logo/logo-color.png"></ion-img>
        Welcome
      </ion-card-title>
      <ion-card-subtitle>
        Plan your dream travel and meet your dream companion
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="sign-in-btns">
        <ion-button fill="solid" class="log-in-btn" shape="round">
          Login
        </ion-button>
        <ion-button fill="outline" color="dark" shape="round">
          Sign Up
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
