<ion-header class="ion-no-border">
  <ion-toolbar>
<!--    <ion-title>login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <ion-img src="assets/logo/logo-color.png"></ion-img>
        Welcome
      </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Plan your dream travel and meet your dream companion
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="sign-in-buttons">
        <ion-button size="small" fill="solid" class="log-in-btn text-transform-none" shape="round" (click)="gotoLoginPage()">
          Login
        </ion-button>
        <ion-button size="small" fill="outline" color="dark" class="text-transform-none" shape="round" (click)="registerUser()">
          Register
        </ion-button>
      </div>

      <div class="text-tag">
        <span>
          Or via Social
        </span>
      </div>

      <div class="social-buttons">
        <ion-button fill="clear" class="facebook-btn ion-no-padding">
          <ion-img src="assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="google-btn ion-no-padding">
          <ion-img src="assets/images/google.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="apple-btn ion-no-padding">
          <ion-img src="assets/images/apple.png"></ion-img>
        </ion-button>

      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
