ion-content {
  --ion-background-color: #E1EAF9;
}

ion-header {
  position: absolute;
}

ion-toolbar {
  --ion-background-color: transparent;
  --opacity:0;
}

.sign-in-btns {
  margin-top: 25px;
  text-align: center;
  color: #F0F4FA;
}

.log-in-btn {
  --ion-color-primary: #215AB7;
}
