# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\marka\OneDrive\Desktop\cmarkatselis@traveldash.gr GitHUb\login-app-with-ionic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
